body {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/Background-Image-ToDo-List.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
}
